---
layout: default
---
<!--
<small>{{ page.date | date: "%-d %B %Y" }}</small> -->
<h2>{{ page.title }}</h2>

<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

{{content}}

{% if page.tags %}
<br /><p><!--  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>--></p> <br /> <small><br /><em> <br /> Baixar o <a rel="nofollow" href="https://www.qbittorrent.org/download.php" title="" target="_blank">qBitTorrent</a> para 
  abrir torrents e magnetlinks</small></em>
{% endif %}
